ion-textarea {
    height: 45px;
    border-style: solid;
    border-width: 1px;
}

.search-button {
    width: 45px;
    height: 45px;
}

ion-img {
    width: 125px;
    height: 125px;
}

ion-item {
    --highlight-color-valid: transparent;
    --highlight-color-invalid: transparent;
    --highlight-color-focused: transparent;
}
